<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1088191620110-rh0v53fskkjtq6aqnooi7eopsm4v0g1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088191620110-rh0v53fskkjtq6aqnooi7eopsm4v0g1n</string>
	<key>API_KEY</key>
	<string>AIzaSyDsVwskZFTXwzJYqabh-0j6mdGcUB8A7pc</string>
	<key>GCM_SENDER_ID</key>
	<string>1088191620110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sp.breakpoint</string>
	<key>PROJECT_ID</key>
	<string>sp-breakpoint-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>sp-breakpoint-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088191620110:ios:186adbb8935fcc5d</string>
	<key>DATABASE_URL</key>
	<string>https://sp-breakpoint-ios.firebaseio.com</string>
</dict>
</plist>